*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #1e2227;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    background-color: #1e2227 ;
    z-index: 2;
    width: 100%;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.nav-icon img{
    width: 25px;
    margin-left: 35px;
    cursor: pointer;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    
}
.col-1,.col-2{
    flex-basis: 50%;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    
}
.col-1{
    padding-left: 8%;
}
.col-1 h1{
    /* letter-spacing: 10px; */
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}
.col-1 h2{
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
}
.col-2{
    background-color: red;
    padding-top: 8%;
    position: relative;
}
button{
    display: inline-block;
    width: 50%;
    padding: 18px 50px;
    background: red;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
.feature-img{
    text-align: center;
}
.feature-img img{
    width: 80%;
    transform: rotate(-20deg);
}
.small-img-row{
    display: flex;
    width: 80%;
    margin: 70px auto 0;
    align-items: center;
    justify-content: space-around;

}
.small-img{
    width: 80px;
    height: 80px;
    background-color: #ccc;
}
.small-img img{
    width: 120px;
    transform: translate(-50px,20px) rotate(-20deg);
}
.small-img:nth-child(1){
    background-color: blue;
}
.small-img:nth-child(2){
    background-color: green;
}
.small-img:nth-child(3){
    background-color: rgb(243, 101, 101);
    border: 2px solid white;
}
.small-img:nth-child(4){
    background-color: darkturquoise ;
}
.col-2 h2{
    position: absolute;
    left: 10%;
    top: 22%;
    font-size: 130px;
    opacity: 0.3;
}
button:hover{
    background-color: #aa0505;
    transform: translateY(-5px);
}
@media screen and (max-width:1195px) {
    .col-1{
        margin-top: 20px;
        flex-basis: 100%;
    }
    .col-2{
        flex-basis: 100%;
    }
    
}